@font-face {
    font-family: "Nodesto";
    src: url('fonts/NodestoCapsCondensed.otf');
}
@font-face {
    font-family: "Orbitron";
    src: url('fonts/Orbitron-VariableFont_wght.ttf');
}
@font-face {
    font-family: "Exo 2";
    src: url('fonts/Exo2-VariableFont_wght.ttf');
}

.sfrpgbb.sheet.npc {
    form {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        font-family: "Orbitron";
        font-size: 10pt;
        padding: 5px;
    }
    .infoBar {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        .topRow {
            display: flex;
            flex-direction: row;
            background-color: black;
            justify-content: space-between;
            input, select, textarea, option {
                color: white;
                background-color: black;
                text-transform: uppercase;
            }
            .name {
                text-align: left;
            }
            .alignment {
                text-align: right;
            }
        }
        .middleRow {
            flex-direction: row;
            background-color: blue;
            color: white;
            text-transform: uppercase;
        }
        .bottomRow {
            flex-direction: row;
            background-color: blue;
            color: #c7eafb;
            text-transform: uppercase;
        }
    }

}