.sfrpgbb.sheet.item form {
  display: flex;
  flex-direction: column;
}
.sfrpgbb.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sfrpgbb.sheet.item .sheet-content th,
.sfrpgbb.sheet.item .sheet-content td {
  text-align: center;
  vertical-align: bottom;
}
.sfrpgbb.sheet.item .sheet-content .editor {
  height: 90%;
}
.sfrpgbb.sheet.item .sheet-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}
.sfrpgbb.sheet.item .sheet-header .spellName {
  display: flex;
  flex-direction: column;
}
@font-face {
  font-family: "Nodesto";
  src: url('fonts/NodestoCapsCondensed.otf');
}
@font-face {
  font-family: "Orbitron";
  src: url('fonts/Orbitron-VariableFont_wght.ttf');
}
@font-face {
  font-family: "Exo 2";
  src: url('fonts/Exo2-VariableFont_wght.ttf');
}
.sfrpgbb.sheet.character form {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}
.sfrpgbb.sheet.character table {
  border: 1px solid blue;
}
.sfrpgbb.sheet.character th {
  background-color: black;
  border: 1px solid blue;
  color: white;
  font-family: "Orbitron";
  font-size: 10pt;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.sfrpgbb.sheet.character td {
  background-color: white;
  border: 1px solid blue;
  font-weight: bold;
  font-family: "Exo 2";
  font-size: 8pt;
  padding: 2px;
  text-align: center;
  text-transform: uppercase;
}
.sfrpgbb.sheet.character textarea {
  resize: none;
}
.sfrpgbb.sheet.character .topPart {
  display: flex;
  flex-direction: row;
}
.sfrpgbb.sheet.character .topPart .leftColumn {
  flex: 75%;
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.sfrpgbb.sheet.character .topPart .rightColumn {
  flex: 25%;
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.sfrpgbb.sheet.character .mainSheet {
  display: flex;
  flex-direction: row;
}
.sfrpgbb.sheet.character .mainSheet .leftColumn {
  flex: 50%;
  display: flex;
  flex-direction: column;
  padding: 3px;
  justify-content: top;
}
.sfrpgbb.sheet.character .mainSheet .rightColumn {
  flex: 50%;
  display: flex;
  flex-direction: column;
  padding: 3px;
  justify-content: top;
}
.sfrpgbb.sheet.character .secondarySheet {
  display: flex;
  flex-direction: row;
}
.sfrpgbb.sheet.character .secondarySheet .leftColumn {
  flex: 50%;
  display: flex;
  flex-direction: column;
  padding: 3px;
  justify-content: top;
}
.sfrpgbb.sheet.character .secondarySheet .rightColumn {
  flex: 50%;
  display: flex;
  flex-direction: column;
  padding: 3px;
  justify-content: top;
}
.sfrpgbb.sheet.character .superscript {
  font-family: "Exo 2";
  font-size: 6pt;
  color: blue;
}
.sfrpgbb.sheet.character .rightThickBorder {
  border-right: 3px solid blue;
}
.sfrpgbb.sheet.character .bottomThickBorder {
  border-bottom: 3px solid blue;
}
.sfrpgbb.sheet.character .blockTitle {
  font-family: "Exo 2";
  font-size: 10pt;
  background-color: white;
}
.sfrpgbb.sheet.character .blueBox {
  font-family: "Exo 2";
  font-size: 10pt;
  background-color: #c7eafb;
}
.sfrpgbb.sheet.character .blueRow {
  background-color: #00aeef;
  color: white;
}
.sfrpgbb.sheet.character .plus {
  font-family: "Exo 2";
  font-size: 10pt;
  color: white;
  background-color: blue;
  padding: 1px;
}
.sfrpgbb.sheet.character .skillBox {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
}
.sfrpgbb.sheet.character .blankTable {
  font-family: "Exo 2";
  font-size: 10pt;
  background-color: none;
  border: none;
}
.sfrpgbb.sheet.character .abilities td {
  font-family: "Exo 2";
  font-size: 10pt;
}
.sfrpgbb.sheet.character .abilities td:nth-child(even) {
  background-color: #c7eafb;
}
.sfrpgbb.sheet.character .abilities td:nth-child(odd) {
  background-color: white;
}
.sfrpgbb.sheet.character .information table,
.sfrpgbb.sheet.character .information td {
  text-align: left;
  font-family: "Exo 2";
  font-size: 10pt;
}
.sfrpgbb.sheet.character .information tr:nth-child(odd) {
  background-color: white;
}
.sfrpgbb.sheet.character .information tr:nth-child(even) {
  background-color: #c7eafb;
}
.sfrpgbb.sheet.character .defence td {
  font-family: "Exo 2";
  font-size: 10pt;
}
.sfrpgbb.sheet.character .item {
  text-align: center;
}
@font-face {
  font-family: "Nodesto";
  src: url('fonts/NodestoCapsCondensed.otf');
}
@font-face {
  font-family: "Orbitron";
  src: url('fonts/Orbitron-VariableFont_wght.ttf');
}
@font-face {
  font-family: "Exo 2";
  src: url('fonts/Exo2-VariableFont_wght.ttf');
}
.sfrpgbb.sheet.npc form {
  display: flex;
  flex-direction: column;
  font-family: "Exo 2";
  font-size: 10pt;
  padding: 5px;
}
.sfrpgbb.sheet.npc .infoBar {
  display: flex;
  flex-direction: column;
}
.sfrpgbb.sheet.npc .infoBar .topRow,
.sfrpgbb.sheet.npc .infoBar .middleRow,
.sfrpgbb.sheet.npc .infoBar .bottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sfrpgbb.sheet.npc .infoBar .topRow {
  background-color: black;
}
.sfrpgbb.sheet.npc .infoBar .topRow input,
.sfrpgbb.sheet.npc .infoBar .topRow select,
.sfrpgbb.sheet.npc .infoBar .topRow textarea,
.sfrpgbb.sheet.npc .infoBar .topRow option {
  color: white;
  background-color: black;
  text-transform: uppercase;
  border-width: 0;
  font-weight: bold;
}
.sfrpgbb.sheet.npc .infoBar .topRow .name,
.sfrpgbb.sheet.npc .infoBar .topRow .alignment {
  flex-grow: 0.5;
  padding-left: 3px;
  padding-right: 3px;
}
.sfrpgbb.sheet.npc .infoBar .topRow .name {
  text-align: left;
}
.sfrpgbb.sheet.npc .infoBar .topRow .alignment {
  text-align: right;
}
.sfrpgbb.sheet.npc .infoBar .middleRow {
  flex-grow: 0.2;
  background-color: blue;
  color: white;
  padding: 0px 5px 0px 5px;
}
.sfrpgbb.sheet.npc .infoBar .middleRow input,
.sfrpgbb.sheet.npc .infoBar .middleRow select,
.sfrpgbb.sheet.npc .infoBar .middleRow textarea,
.sfrpgbb.sheet.npc .infoBar .middleRow option {
  color: white;
  background-color: blue;
  border: none;
  flex: 0 0 2.5em;
}
.sfrpgbb.sheet.npc .infoBar .middleRow input {
  padding: 0px 0px 0px 2px;
  text-align: center;
}
.sfrpgbb.sheet.npc .infoBar .middleRow .initiative,
.sfrpgbb.sheet.npc .infoBar .middleRow .speed,
.sfrpgbb.sheet.npc .infoBar .middleRow .cr,
.sfrpgbb.sheet.npc .infoBar .middleRow .xp,
.sfrpgbb.sheet.npc .infoBar .middleRow .hp {
  display: flex;
  flex-direction: row;
  flex: 0 0 24%;
  padding-left: 3px;
  padding-right: 3px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-right: solid 1px white;
}
.sfrpgbb.sheet.npc .infoBar .middleRow .initiative input {
  text-align: left;
}
.sfrpgbb.sheet.npc .infoBar .middleRow .cr,
.sfrpgbb.sheet.npc .infoBar .middleRow .xp {
  flex: 0 0 14%;
}
.sfrpgbb.sheet.npc .infoBar .middleRow .hp {
  border-right: none;
}
.sfrpgbb.sheet.npc .infoBar .bottomRow {
  flex-grow: 0.2;
  background-color: #c7eafb;
  color: black;
  padding: 0px 5px 0px 5px;
}
.sfrpgbb.sheet.npc .infoBar .bottomRow input,
.sfrpgbb.sheet.npc .infoBar .bottomRow select,
.sfrpgbb.sheet.npc .infoBar .bottomRow textarea,
.sfrpgbb.sheet.npc .infoBar .bottomRow option {
  color: black;
  background-color: #c7eafb;
  border: none;
  flex: 0 0 2.5em;
}
.sfrpgbb.sheet.npc .infoBar .bottomRow input {
  padding: 0px 0px 0px 2px;
  text-align: center;
}
.sfrpgbb.sheet.npc .infoBar .bottomRow .darkvision,
.sfrpgbb.sheet.npc .infoBar .bottomRow .seeInvisible,
.sfrpgbb.sheet.npc .infoBar .bottomRow .perception {
  display: flex;
  flex-direction: row;
  flex: 0 0 33%;
  padding-left: 3px;
  padding-right: 3px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-right: solid 1px black;
}
.sfrpgbb.sheet.npc .infoBar .bottomRow .perception {
  border-right: none;
}
.sfrpgbb.sheet.npc .infoBar .bottomRow .perception input {
  text-align: left;
}
.sfrpgbb.sheet.npc .description {
  display: flex;
  flex-direction: column;
}
.sfrpgbb.sheet.npc .defence {
  display: flex;
  flex-direction: column;
}
.sfrpgbb.sheet.npc .defence .ac,
.sfrpgbb.sheet.npc .defence .saves {
  display: flex;
  flex-direction: row;
  flex: 0 0 10%;
  justify-content: start;
  align-items: center;
}
.sfrpgbb.sheet.npc .defence .ac input,
.sfrpgbb.sheet.npc .defence .saves input {
  border: none;
  flex: 0 0 2.5em;
}
