.sfrpgbb.sheet.item form {
  display: flex;
  flex-direction: column;
}
.sfrpgbb.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sfrpgbb.sheet.item .sheet-content .editor {
  height: 100%;
}
@font-face {
  font-family: "Nodesto";
  src: url('fonts/NodestoCapsCondensed.otf');
}
@font-face {
  font-family: "Orbitron";
  src: url('fonts/Orbitron-VariableFont_wght.ttf');
}
@font-face {
  font-family: "Exo 2";
  src: url('fonts/Exo2-VariableFont_wght.ttf');
}
.sfrpgbb.sheet.character form {
  display: flex;
  flex-direction: row;
}
.sfrpgbb.sheet.character th {
  background-color: black;
  color: white;
  font-family: "Orbitron";
  font-size: 12pt;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.sfrpgbb.sheet.character td {
  font-weight: bold;
  font-family: "Exo 2";
  font-size: 10pt;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.sfrpgbb.sheet.character .leftColumn {
  flex: 50%;
  display: flex;
  flex-direction: column;
  padding: 7px;
}
.sfrpgbb.sheet.character .rightColumn {
  flex: 50%;
  display: flex;
  flex-direction: column;
  padding: 7px;
}
.sfrpgbb.sheet.character .abilities table,
.sfrpgbb.sheet.character .abilities td {
  border: 2px solid blue;
}
.sfrpgbb.sheet.character .abilities td:nth-child(even) {
  background-color: #c7eafb;
}
.sfrpgbb.sheet.character .abilities td:nth-child(odd) {
  background-color: #ffffff;
}
.sfrpgbb.sheet.character .information table,
.sfrpgbb.sheet.character .information td {
  border: 1px solid blue;
  text-align: left;
}
.sfrpgbb.sheet.character .information tr:nth-child(odd) {
  background-color: #ffffff;
}
.sfrpgbb.sheet.character .information tr:nth-child(even) {
  background-color: #c7eafb;
}
.sfrpgbb.sheet.character .information .superscript {
  font-family: "Exo 2";
  font-size: 7pt;
  color: blue;
}
.sfrpgbb.sheet.character .defence .superscript {
  font-family: "Exo 2";
  font-size: 7pt;
  color: blue;
}
