<table>
    <tr>
        <th colspan="4">Character Information</th>
    </tr>
    <tr>
        <td colspan="3">{{document.name}}</td>
        <td>Pronouns</td>
    </tr>
    <tr>
        <td>Race</td>
        <td>Theme</td>
        <td>Class</td>
        <td>Level</td>
    </tr>
    <tr>
        <td colspan="2">Alignment</td>
        <td>Current XP</td>
        <td>Next Level</td>
    </tr>
</table>