<header class="{{cssClass}}" autocomplete="off">
    <div class="leftColumn">
        <div class="information">
            {{> "systems/sfrpgbb/templates/partials/character-information.hbs"}}
        </div>
    </div>
    <div class="rightColumn">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="160" width="160" style="display: block; margin-left: auto; margin-right: auto;"/>
    </div>
</header>
<form class="{{cssClass}}" autocomplete="off">
    <div class="leftColumn">
        <div class="abilities">
            {{> "systems/sfrpgbb/templates/partials/character-abilities.hbs"}}
        </div>
        <div class="skills">
            {{> "systems/sfrpgbb/templates/partials/character-skills.hbs"}}
        </div>
        <div class="traits">
            {{> "systems/sfrpgbb/templates/partials/character-traits-features-feats.hbs"}}
        </div>
    </div>
    <div class="rightColumn">
        <div class="movement">
            {{> "systems/sfrpgbb/templates/partials/character-movement.hbs"}}
        </div>
        <div class="defence">
            {{> "systems/sfrpgbb/templates/partials/character-defence.hbs"}}
        </div>
        <div class="attack">
            {{> "systems/sfrpgbb/templates/partials/character-attack.hbs"}}
        </div>
        <div class="proficiencies">
            {{> "systems/sfrpgbb/templates/partials/character-proficiencies.hbs"}}
        </div>
    </div>
</form>