<form class="{{cssClass}}" autocomplete="off">
    <div class="image">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="160" width="160" style="display: block; margin-left: auto; margin-right: auto;"/>
    </div>
    <div class="infoBar">
        {{> "systems/sfrpgbb/templates/partials/npc-infobar.hbs"}}
    </div>
    <div class="description">
        {{> "systems/sfrpgbb/templates/partials/npc-description.hbs"}}
    </div>
    <div class="defence">
        {{> "systems/sfrpgbb/templates/partials/npc-defence.hbs"}}
    </div>
</form>