<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "sfrpgbb.weapon.type"}}</th>
                <th>{{localize "sfrpgbb.weapon.damage"}}</th>
                <th>{{localize "sfrpgbb.weapon.range"}}</th>
                <th>{{localize "sfrpgbb.weapon.specialProperty"}}</th>
                <th>{{localize "sfrpgbb.weapon.critical"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.type">
                        {{#select data.type}}
                        {{#each config.attackTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.damage" type="text" value="{{data.damage}}" />
                </td>
                <td>
                    <input name="data.range" type="text" value="{{data.range}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="data.specialProperty">
                        {{#select data.specialProperty}}
                        {{#each config.weaponSpecials as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.critical">
                        {{#select data.critical}}
                        {{#each config.weaponCriticals as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
        <textarea name="data.description">{{data.description}}</textarea>
    </div>
    <p>Yo what up homie?</p>
</form>
